################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Videofy.BLL/obj
/Videofy.DAL/obj
/Videofy.Web/obj
